.hg/
.hgignore

*~
*.orig
*.old
*.save

favicon.ico

google*.html
MJ12_*.txt

.user.ini
config.inc.php

**/logs/*
*.log

include/font/*

images/*
js/ckfinder/*
js/ckeditor/*
docs/*

tmp/
vendor/

#include/template/
include/template/recup/

