p{
        margin: 0;
}
p, td, th, li, input, select, textarea {
        font-size: inherit;
}

/* Formulaire */

form.db_object{
        width: auto;
        font-size: 0.85em;
}
form.db_object table{
        width: 100%;
}
form.db_object th{
        text-align: left;
}
form.db_object th.label{
        width: 250px;
}
form.db_object td {
	padding: 4px 0;
}
form.db_object td.field_img img {
        max-width: 100%;
}
form.db_object td.field input{
        width: 100%;
}
form.db_object td.field input.number{
        width: 14em;
}
form.db_object td.field  textarea{
        width: 100%;
        height: 10em;
}
form.db_object td.field  textarea.richtext{
        height: 20em;
}

/* Liste */

.list td, .list th{
        vertical-align: top;
}
.list th{
	padding: 0 4px 0 0;
        text-align: left;
	border-bottom: 1px dotted gray;
}
